body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.topnav a.active {
  background-color: #4caf50;
  color: white;
}

div#topImageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px;
}

div#topImageContainer .image img {
  width: 400px;
}

#headerInJumbo {
  color: rgb(70, 70, 77);
  font-size: 70px;
}
#sideNotes {
  margin-left: 10px;
  color: rgb(70, 70, 77);
}

#sideNotes h3 {
  color: brown;
}

#sideNotes p {
  line-height: 1.6;
}

#containerOfHobyAndExp div {
  border-top: 1px solid rgb(70, 70, 77);
}

#containerOfHobyAndExp h3 {
  color: brown;
  padding-left: 30px;
}

#footer {
  display: flex;
  justify-content: space-around;
  padding 10px;
  background-color: rgb(15, 13, 13);
  color: beige;
}

#leftFooter {
  display: flex;
  border-right: 1px solid beige;
}

.footerParts {
  margin: 30px;
}

.footerParts p {
  font-size: 12px;
}

#email {
  border: 0px;
  border-radius: 10px;
  height: 30px;
  width: 300px;
}

#rightFooter {
  display: flex;
}