#body {
  max-width: 300px;
  margin: auto auto;
  font-family: sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
}

input {
  width: 270px;
  height: 150px;
  border: 0px;
  font-size: larger;
}

input :focus {
  border: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.grid-item {
  background-color: #26262df7;
  border: 1px solid #353535;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  color: white;
}

.blue {
  background-color: #522298ba;
}

.yellow {
  background-color: #ffc531;
}

a {
  text-decoration: none;
}
